<head>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link href='/media-player.css' rel='stylesheet' />
</head>

<body class="body-bg">
    <!-- view video modal -->
    <div class="center-modal">
        <%- include("viewVideo.ejs") %>
    </div>

    <!-- forward video modal -->
    <%- include("forwardVideo.ejs") %>
        <div class="container d-flex align-items-center overflow-auto">
            <table class="table table-striped table-hover m-3">
                <thead>
                    <tr>
                        <th class="col text-center" id="#">#</th>
                        <th class="col text-center" id="Name">Name </th>
                        <th class="col text-center" id="Status">Status</th>
                        <th class="col text-center" id="Details">Details</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (members.length!=0) { %>
                        <% members.forEach((member, index)=> { %>
                            <tr id=<%=index %>>
                                <th class="text-center" scope="row">
                                    <%= index+1 %>
                                </th>
                                <td class="text-center">
                                    <%= member.firstName %>
                                        <span> </span>
                                        <%= member.lastName %>
                                </td>
                                <td class="text-center status">
                                    <% if(member.status===true) {%>
                                        <span id="status">Fallen!</span>

                                        <% } else if(member.status===false) { %>
                                            <span id="status">All Good!</span>
                                            <% } %>
                                                <% if(member.status===true ) { %>
                                                    <span
                                                        class='d-inline-flex mb-0 circle status-indicator-fall'></span>
                                                    <% } else if(member.status===false ) { %>
                                                        <span
                                                            class='d-inline-flex mb-0 circle status-indicator-good'></span>
                                                        <% } %>
                                </td>
                                <td class="text-center">
                                    <a class="modal-trigger viewDetails" href="#viewMemberDetailsModal">View Details</a>
                                </td>
                                <td class="text-center">
                                    <% if(member.status===true) { %>
                                        <a class='modal-trigger' href='#videoCapture'><i class="small material-icons"
                                                id="viewMemberVideo">ondemand_video</i></a>
                                        <% } %>
                                </td>
                            </tr>
                            <% }) %>
                                <% } %>
                </tbody>
            </table>
            <!-- Add Member Modal Structure -->
            <div id="addMemberModal" class="modal addMemberModal">
                <div class="modal-content">
                    <h4>Add Member</h4>
                </div>
                <div class="row modal-content">
                    <div class="alert_placeholder"></div>
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="FirstName" id="firstName" type="text" class="validate">
                                <label for="firstName">FirstName</label>
                            </div>
                            <div class="input-field col s6">
                                <input placeholder="LastName" id="lastName" type="text" class="validate">
                                <label for="lastName">LastName</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <select id="gender">
                                    <option value="" disabled selected>
                                    </option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>
                                </select>
                                <label for="gender">Gender</label>
                            </div>
                            <div class="input-field col s6">
                                <input placeholder="Age" id="age" type="text" class="validate">
                                <label for="age">Age</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <textarea placeholder="Address" id="address" rows="3"
                                    class="materialize-textarea"></textarea>
                                <label for="address">Address</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <textarea placeholder="Description" id="description" rows="3"
                                    class="materialize-textarea"></textarea>
                                <label for="description">Description</label>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="input-field col s12 center-align ">
                                <a class="waves-effect waves-light btn " id="addMember">Add</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- View Member Details Modal Structure -->
            <div id="viewMemberDetailsModal" class="modal viewMemberDetailsModal">
                <div class="modal-content">
                    <h4>Member Details</h4>
                </div>
                <div class="row modal-content">
                    <div class="alert_placeholder"></div>
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <script>
                                    $('.viewDetails').click(function () {
                                        event.preventDefault();
                                        var rowID = event.target.parentNode.parentNode.id;
                                        var mems = '<%- JSON.stringify(members) %>';
                                        mems = JSON.parse(mems);

                                        var data = $("tr[id=" + rowID + " ]")[0].cells;

                                        $("#viewMemberDetailsFirstName").attr("value", mems[rowID].firstName);
                                        $("#viewMemberDetailsLastName").attr("value", mems[rowID].lastName);
                                        $("#viewMemberDetailsGender").attr("value", mems[rowID].gender);
                                        $("#viewMemberDetailsAge").attr("value", mems[rowID].age);
                                        $("#viewMemberDetailsEmail").attr("value", mems[rowID].emailID);
                                        $("#viewMemberDetailsAddress").val(mems[rowID].address);
                                        $("#viewMemberDetailsDescription").val(mems[rowID].description);
                                        $("#viewMemberDetailsMemberID").attr("value", mems[rowID]._id);
                                    });
                                </script>
                                <input placeholder="FirstName" id="viewMemberDetailsFirstName" type="text">
                                <label for="viewMemberDetailsFirstName">FirstName</label>
                            </div>
                            <div class="input-field col s6">
                                <input placeholder="LastName" id="viewMemberDetailsLastName" type="text">
                                <label for="viewMemberDetailsLastName">LastName</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="Gender" id="viewMemberDetailsGender" type="text">
                                <label for="viewMemberDetailsGender">Gender</label>
                            </div>
                            <div class="input-field col s6">
                                <input placeholder="Age" id="viewMemberDetailsAge" type="text">
                                <label for="viewMemberDetailsAge">Age</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <textarea placeholder="Address" id="viewMemberDetailsAddress" rows="3"
                                    class="materialize-textarea"></textarea>
                                <label for="viewMemberDetailsAddress">Address</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <textarea placeholder="Description" id="viewMemberDetailsDescription" rows="3"
                                    class="materialize-textarea"></textarea>
                                <label for="viewMemberDetailsDescription">Description</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="Member ID" id="viewMemberDetailsMemberID" type="text" disabled>
                                <label for="viewMemberDetailsMemberID">ID</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6 right-align">
                                <a class="waves-effect waves-light btn" id="updateMemberDetails">Update</a>
                            </div>
                            <div class="input-field col s6">
                                <a class="waves-effect waves-light btn" id="deleteMember">Delete</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!---->
        <div class="fixed-action-btn fixed-action-btn-saife ">
            <a class="btn-floating btn-large waves-effect waves-light red  modal-trigger" href="#addMemberModal">
                <i class="material-icons btn-saife">add</i>
            </a>
        </div>

        <script>
            // Initialize Modals
            $('#addMemberModal').modal();
            $('#viewMemberDetailsModal').modal();
            $('select').formSelect();

            $(document).ready(() => {

                //Initializing OnClick Events on Document Load
                $('#addMember').click(() => {
                    addMemberSubmit();
                });

                $('#updateMemberDetails').click(() => {
                    updateMemberDetailsSubmit();
                });

                $('#deleteMember').click(() => {
                    deleteMember();
                });

                $("#addMember").on('hide', () => {
                    location.reload()
                })
            })

            // Add Member Details
            const addMemberSubmit = () => {
                let firstName = $('#firstName').val();
                let lastName = $('#lastName').val();
                let gender = $('#gender').val();
                let age = $('#age').val();
                let address = $('#address').val();
                let description = $('#description').val();

                let memberData = {};
                memberData.firstName = firstName;
                memberData.lastName = lastName;
                memberData.gender = gender;
                memberData.age = age;
                memberData.address = address;
                memberData.description = description;

                let modalInstance = M.Modal.getInstance($("#addMemberModal"));

                //Ajax call Add Member route
                $.ajax({
                    url: "/users/myMembers",
                    data: memberData,
                    type: "POST",
                    success: (result) => {
                        // To check if the server response contains error messages
                        if (typeof result.errors != 'undefined') {
                            console.log((result.errors[0].msg));

                            (result.errors).forEach(element => {
                                $('.alert_placeholder').html('<div class="alert alert-warning alert-dismissible fade show" role="alert">' + element.msg +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>' + '</div>')
                            });

                        }
                        // To check if the server response contains any success messages 
                        else if (typeof result.success != 'undefined') {
                            location.reload();
                        }
                    }
                });
            }

            // Update Member Details
            const updateMemberDetailsSubmit = () => {

                //Getting Member Details from the form
                let memberData = {};
                memberData.firstName = $('#viewMemberDetailsFirstName').val();
                memberData.lastName = $('#viewMemberDetailsLastName').val();
                memberData.gender = $('#viewMemberDetailsGender').val();
                memberData.age = $('#viewMemberDetailsAge').val();
                memberData.address = $('#viewMemberDetailsAddress').val();
                memberData.description = $('#viewMemberDetailsDescription').val();
                memberData.id = $('#viewMemberDetailsMemberID').val();

                let modalInstance = M.Modal.getInstance($("#viewMemberDetailsModal"));

                //Ajax call Update Member route
                $.ajax({
                    url: "/users/myMembers",
                    data: memberData,
                    type: "PUT",
                    success: (result) => {
                        swal("Member Details Updated Successfully!", {
                            icon: "success",
                            buttons: false
                        });
                        setTimeout(() => location.reload(), 500);
                    },
                    error: (result) => {
                        let errorBody = result.responseJSON;
                        if (typeof errorBody.errors != 'undefined') {
                            (errorBody.errors).forEach(element => {
                                $('.alert_placeholder').html('<div class="alert alert-warning alert-dismissible fade show" role="alert">' + element.msg +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>' + '</div>')
                            });
                        }
                    }
                });
            }

            // Delete Member
            const deleteMember = () => {
                let memberData = {};
                memberData.id = $('#viewMemberDetailsMemberID').val();
                swal({
                    title: "Are you sure?",
                    text: "Once deleted, you will not be able to recover this Member!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                }).then((willDelete) => {
                    if (willDelete) {
                        let modalInstance = M.Modal.getInstance($("#viewMemberDetailsModal"));
                        modalInstance.close();

                        //Ajax call Delete Member route
                        $.ajax({
                            url: "/users/myMembers",
                            data: memberData,
                            type: "DELETE",
                            success: (result) => {
                                swal("Member deleted successfully!", {
                                    icon: "success",
                                    buttons: false
                                });
                                setTimeout(() => location.reload(), 500);
                            }
                        });
                    } else {
                        swal("Member not deleted!");
                    }
                });
            }

            //Load Member Video
            $('#viewMemberVideo').click(function (event) {
                event.preventDefault();
                var rowID = event.target.parentNode.parentNode.parentNode.id;
                var mems = '<%- JSON.stringify(members) %>';
                mems = JSON.parse(mems);

                $('#viewMemberVideoSource').attr('src', mems[rowID].videoURL);
                $('#video')[0].load();
            });

            var members = '<%- JSON.stringify(members) %>';
        </script>
        <script src='/js/media-player.js'></script>
        <script src='/js/forward-video.js'></script>
</body>