<html>
<head>
<link href="../public/styles.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
                <%- include('./partials/messages') %>
                <form action="/users/register" method="POST">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="name" id="firstName" name="firstName" class="form-control" placeholder="<%= typeof firstname != 'undefined' ? firstname : '' %>"
                            value="<%= typeof firstName != 'undefined' ? firstName : '' %>" />
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="name" id="lastName" name="lastName" class="form-control" placeholder="Enter Last Name"
                            value="<%= typeof lastName != 'undefined' ? lastName : '' %>" />
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email"
                            value="<%= typeof email != 'undefined' ? email : '' %>" readonly/>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input type="tel" id="phone" name="phone" class="form-control" placeholder="1234536783" 
                            value="<%= typeof phone != 'undefined' ? phone : '' %>" />
                    </div>
                    <div class="form-group">
                        <label for="userId">User ID</label>
                        <input id="userId" name="userId" class="form-control"
                            placeholder="User ID"
                            value="<%= typeof id != 'undefined' ? id : '' %>" readonly />
                    </div>

                    <div class="form-group">
                    <button type="submit" disabled class="btn btn-primary btn-block">
                        Save
                    </button>
                    </div>
                </form>
        </div>
    </div>
</div>
</body>
</html>